body{
	background-color: linen;
}
#title{
	font-size: 50px;
}
.main_div{

	margin-left: 45%;
	position: relative;
	margin-top: 30px;
}
#title_div{
	margin-left: 34%;
}

.button{
	height: 100px;
	width: 200px;
	background-color: #00ccff;
	font-style: Impact;

}
a{
	font-family: Impact;
	font-size: 30px;
}
.button:hover{
	background-color: #0099ff;
}
#bs{
	text-align: center;
	font-family: Impact;
	font-size: 20px;
}
a:hover{
	cursor: pointer;
}
